<div class="container">
  <h2>Installation</h2>
  <p><code class="terminal">ember install ember-cli-bootstrap-4-components</code></p>
  <h2>Available components</h2>
  <ul>
    <li>
      {{#link-to 'modal'}}Modals{{/link-to}}
    </li>
  </ul>
</div>
{{outlet}}